<%= div_for comment do %> <!-- ou <div id="comment-1" class="comment"></div>-->
  <p>
    <%= comment.author %><br/>
    <%= comment.body %><br/>
    Posted <%= time_ago_in_words comment.created_at %> ago<br/>
  </p>
<% end %>